node_modules/

node_modules/
# =========================
# macOS system files
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd
*.icloud

# =========================
# Visual Studio Code
# =========================
.vscode/
.history/
*.code-workspace

# =========================
# Node.js
# =========================
node_modules/
dist/
build/
.env